<div class="container">
    <div *ngIf="!isAuth()" class="card p-5 mt-3 w-50 mx-auto">
        <a [routerLink]="['/login']" class="btn btn-success">Iniciar sesión</a>
    </div>
    <div *ngIf="isAuth()" class="card p-5 mt-3 w-50 mx-auto">
        <a class="btn btn-success" (click)="cerrarSesion()">Cerrar sesión</a>
    </div>
    <div class="card p-5 mt-3 w-75 mx-auto">
        <div class="col-xs-12">
            <h3>{{titulo}}</h3>
        </div>
        <hr>
        <router-outlet></router-outlet>
    </div>
</div>